{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'autenticacao/css/responsivo.css' %}">
{% endblock %}

{% block 'titulo' %}Altere sua senha{% endblock %}

{% block 'body' %}

<div class="sidebar">
    <div  class="logo">
        <img src="{% static 'autenticacao/img/logo.png' %}">
        <h2 class="texto-logo">ATLÉTICA HIPERTENSIVA</h2>
    </div>
</div>

<div style="
        border-style: solid;
        margin-top: 5rem; 
        margin-left: 0 auto; 
        width: auto; 
        border-width: 0px; 
        " 
    class="conteudo">
    {% if messages %}
        <br>
        {% for message in messages %}
        <div style="text-align: center" class="alert {{message.tags}}">
        {{message}}
        </div>
        {% endfor %}
    {% endif %}
    <div class="area-cadastrar" style="width: 100%; margin: 0 auto; text-align: center; padding: 25px 10%;">
    
        <h2 style="width: auto;" class="titulo">Não conseguiu entrar?</h2>
            <p class="sub-titulo">Enviaremos um email com um link para que possa alterar a sua senha.</p>
            <hr>
        <form action="{% url 'forgot' %}" method="POST">{% csrf_token %}
            <span class="bold">
                Email
            </span>
            <input style="width: 100%; padding: 0; height: 3rem;" class="form-control input-form" type="email" name="email" placeholder="Digite seu email...">
            <br>
            <button style="width: 100%; padding: 0; height: 3rem; background-color: rgb(12, 21, 118);" class="btn btn-info text-white">Enviar link de recuperação</button>
            <hr style="margin-top: 3rem;">
            <p style="text-align: left;">
                <a class='sub-titulo' href="{% url 'logar' %}">Retornar para tela de login</a>
            </p>
        </form>
        <br> 
        
    </div>
</div>   
{% endblock %}
