/*========== RESOLUÇÕES RESPONSIVIDADE ==========*/

/*telas menores*/
@media (max-width: 620px) {
	body {
	    margin: 0;
	    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	    font-size: 1rem;
	    font-weight: 400;
	    line-height: 1.5;
	    color: #212529;
	    text-align: left;
	}

	.logo{
		width: 100%;
		margin-top: 0;
		display: inline-flex;
	    justify-content: start;
	    align-items: start;
	    text-align: right;
	}

	.logo img{
	    max-width: 60px;
	}

	.conteudo{
		padding: 5px;
	    margin-left: 0;
	    margin-top: 0px;
	    width: 100%;
		font-size: 1rem;
	}

	.area-cadastrar{
		padding: 10px;
	    margin-top: 80px;
	    margin-left: 0px;
	}

	.area-logar{
	    padding: 10px;
	    margin-top: 80px;
	    margin-left: 0px;
	}


	.titulo{
	    font-size: 32px;
	    font-weight: bold;
	}
	.sub-titulo{
	    color: gray;
	}
	.texto-logo{
		width: 100%;
		text-align: center;
	    margin-top: 15px;
	    color: #fff;
	    font-weight: bold;
	    font-size: 22px;
	}

	.input-form{
	    margin-top: 0;
	    width: 100%;
	    padding: 5px;
	    outline: 0;
	}
	.input-form:focus{
	    border: 2px solid rgb(12, 21, 118) !important;
	    outline: 0 !important;
	    box-shadow: none !important;
	}

	.bold{
	    font-weight: bold;
	}

	.btn{
	    height: 30px;
	    text-decoration: none;
	    margin-top: 0;
	    border-width: 1px;
	    border-radius: 5px;
	    padding: 0px 15px 0px 15px;
	    font-size: 15px;
	}

	.row{
	    justify-content: space-around;
	    padding: 0;
	    margin: 0;
	}

	.form-row span{
	    width: 50%;
	    padding: 0px 5px 0px 5px;
	    justify-content: start;
	}

	.btn:hover {
	    transition: 0.5s ease-in-out;
	}

	.card-lateral{
		text-decoration: none;
		justify-content: center;
		align-items: center;
		width: 10rem;
		background-color: rgb(12, 21, 118);
		margin: 1rem auto;
		padding: 10px;
		color: white;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		box-shadow: 5px 5px 5px gray;
		font-size: 1rem;
		display: flex;
		flex-direction: row;
	}

	.card-lateral img {
		width: 25px;
		height: 25px;
	}


	.sidebar{
	    width: 100%;
	    background-color: white;
	    margin-top: 12rem;
	}

	nav img {
		padding-left: 1rem;
	}

	.sair-btn {
		width: 100%;
		right: 0rem;
		top: 90%;
	}
}