{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'plataforma/css/css.css' %}">
<link rel="stylesheet" href="{% static 'plataforma/css/responsivo.css' %}">
{% endblock %}

{% block 'titulo' %}Atlética Hipertensiva{% endblock %}

{% block 'body' %}

    <script src=”jquery-1.2.6.js” type=”text/javascript”></script>
    <script src=”jquery.maskedinput-1.1.3″ type=”text/javascript”></script>
    <script>
        const input = document.getElementById('#inputCPF')

        input.addEventListener('keypress', () => {
            let inputLength = input.value.length

            // MAX LENGHT 14  CPF
            if (inputLength == 3 || inputLength == 7) {
                input.value += '.'
            }else if (inputLength == 11) {
                input.value += '-'
            }


            // MAX LENGHT 12  RG
            // if (inputLength == 2 || inputLength == 6) {
            //     input.value += '.'
            // }else if (inputLength == 10) {
            //     input.value += '-'
            // }

            // // MAX LENGHT 19 CARTÃO
            // if (inputLength == 4 || inputLength == 9 || inputLength == 14) {
            //     input.value += ' '
            // }

        })
    </script>

	<!-- sidebar -->
	<div class="sidebar">
		<a style="text-decoration: none" href="{% url 'gerar_relatorios' %}">	
	        <div  class="card-lateral">
	            <img src="{% static 'plataforma/img/dados-projeto.png' %}">
	                    <br>
	                    <br>
	                    <p>Gerar Relatórios</p>
	        </div>
		</a>
		<a style="text-decoration: none;" href="{% url 'dados_associados_listar' %}">	
	        <div class="card-lateral">
	            <img src="{% static 'plataforma/img/dispositivos.png' %}">
	                    <br>
	                    <br>
	                    <p>Gerenciar Associados</p>
	        </div>
		</a>
		<a style="text-decoration: none" href="{% url 'add_associado' %}">
	        <div  class="card-lateral">
	            <img src="{% static 'plataforma/img/dados-usuario.png' %}">
	                    <br>
	                    <br>
	                    <p>Adicionar Associado</p>
	        </div>
		</a>
    </div>
    <div class="conteudo">
        {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}}">
            {{message}}
            </div>
            {% endfor %}
        {% endif %}
        <h1 style="text-align: center"  class="titulo">Preencha os Campos: </h1>
        <div class="col-md-12">
            <div class="area_cadastrar">
                <form action="{% url 'add_associado' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                    <span class="bold">Nome do Associado</span>
                    <input class="form-control input-form" name="nome" type="text" placeholder="Digite o nome do associado">
                    <br>
                    <span class="bold">E-mail</span>
                    <input class="form-control input-form" name="email" type="email" placeholder="Digite o email do associado">
                    <br>
                    <span class="bold">CPF</span>

                    
                    <script>
                        // FUNÇÃO PARA CRIAR MÁSCARA DE CPF:

                        function mascara_cpf(){
                            var cpf = document.getElementById('inpCPF');
                            if(cpf.value.length === 3 || cpf.value.length === 7) {
                                cpf.value += '.';
                            } else if(cpf.value.length == 11){
                                cpf.value += '-';
                            }
                        }
                    </script>                  
                    <input class="form-control input-form" id="inpCPF" name="cpf" type="text" autocomplete="off" maxlength="14" onkeyup="mascara_cpf()" placeholder="Digite o cpf do associado">
                    <br>
                    <span class="bold">Matrícula</span>
                    <input class="form-control input-form" name="matricula" type="number" placeholder="Digite o número da matrícula do associado">
                    <br>
                    <span class="bold">Associação</span>
                    <input class="form-control input-form" name="associacao" type="text" placeholder="Digite o número da associação">
                    <br>
                    <span class="bold">Data de Nascimento</span>
                    <input class="form-control input-form" name="data-nasc" type="date" placeholder="Digite a data de nascimento do associado">
                    <br>
                    <span class="bold">Data de Expedição da Carteirinha</span>
                    <input class="form-control input-form" name="data-exped" type="date" placeholder="Digite a data de expedição da carteira">
                    <br>
                    <span class="bold">Data de Validade da Carteirinha</span>
                    <input class="form-control input-form" name="data-valid" type="date" placeholder="Digite a data de validade da carteira">
                    <br>
                    <span class="bold">Foto para Carteirinha</span>
                    <input type="file" class="form-control" placeholder="" name="foto">
                    <br>
                    <br>
                    <button style="margin-bottom: 5rem; width: 100%; height: 3rem;" class="btn btn-success navbar-brand">Registrar</button>
                </form>
            </div>
        </div>
    </div>
      
	<div class="voltar-btn">
        <a style="width: 80%; background-color: #0b3864;" href="{% url 'plataforma' %}" class="btn btn-info navbar-brand">VOLTAR</a>
	</div>
    <div class="sair-btn">
		<a style="width: 80%;" href="{% url 'sair' %}" class="btn btn-danger navbar-brand">SAIR</a>
	</div>
    

    {% endblock %}
    


    