{% extends 'base.html' %}

{% load static %}
{% load qr_code %}

{% block 'head' %}

<style type="text/css">
    body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    height: 100vh;
}

nav {
    background-color: #0b3864;
}
nav img {
    padding-left: 20rem;
}


.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #0b3864;
    /*margin-top: 50px;*/
    padding: 0;
    top: 0;

}

.sidebar a{
    text-decoration: none;
}

nav img{
    max-height: 50px;
}

.navbar-brand {
    text-align: left;
}

.conteudo{
    margin-left: 275px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 70%;
}

.titulo{
    font-size: 32px;
    font-weight: bold;
}
.sub-titulo{
    color: gray;
}
.texto-logo{
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
}
.bold{
    font-weight: bold;
}



.row{
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.form-row span{
    width: 50%;
    padding: 0px 5px 0px 5px;
    justify-content: start;
}

.btn:hover {
    transition: 0.5s ease-in-out;
}

.card-lateral{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 220px;
    background-color: #104b86;
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px gray;
    font-size: 1.5rem;
    transition: all 0.2s;
    border-radius: 1rem;
}

.card-lateral:hover {
    filter: brightness(0.9);
    /* transform: scale(1.1); */
}

.dados{
    font-weight: bold;
} 

.sair-btn, .voltar-btn {
    position: absolute;
    top: 1rem;
    right: 20rem;
    margin: 0;
    width: 10rem;
    text-align: center;  
}

.pdf-btn {
    position: absolute;
    top: 1rem;
    right: 10rem;
    margin: 0;
    width: 10rem;
    text-align: center; 
}

@media (max-width: 620px) {
    .pdf-btn {
        position: absolute;
        top: 600px;
        right: 0rem;
        margin: 0;
        width: 15%;
        text-align: center; 
    }
}

.voltar-btn, .pdf-btn {
    display: block;
}

.voltar-btn a {
    padding: auto;
    font-size: 1rem;
    height: 2rem;
}
.pdf-btn a {
    padding: auto;
    font-size: 1rem;
    height: 2rem;
}
.card-associado {
    text-decoration: none;
    border-style: solid; 
    border-radius: 1rem;
    margin: 1rem; 
    padding: 1rem; 
    text-align: left;
    color: #0b3864;
    transition: all 0.2s;
    box-shadow: 1px 1px 1px gray;
}

.card-associado:hover {
    transform: scale(1.1);
}


.card-associado p {
    text-decoration: none;
    margin: 0;
}

.card-associado a {
    text-decoration: none;
}

.div-carteira {
    max-width: 860px;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    text-align: center;
    position: fixed;
    top: 5rem;
    left: 18rem;
}

.div-carteira img {
    max-width: 100%;
}
.div-carteira h5 {
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0;
    padding: 0 0.5rem;
}
.div-carteira p {
    text-align: left;
    padding: 0 0.5rem;
}

.div-carteira-nome {
    position: fixed;
    top: 12rem;
    left: 32rem;
    color: black;
    width: 21rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}

.div-carteira-cpf {
    position: fixed;
    top: 16rem;
    left: 32rem;
    color: black;
    width: 10rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}

.div-carteira-matricula {
    position: fixed;
    top: 16rem;
    left: 43rem;
    color: black;
    width: 10rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}

.div-carteira-associacao {
    position: fixed;
    top: 20rem;
    left: 32rem;
    color: black;
    width: 10rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}

.div-carteira-dataNasc {
    position: fixed;
    top: 20rem;
    left: 43rem;
    color: black;
    width: 10rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}

.div-carteira-dataExped {
    position: fixed;
    top: 24rem;
    left: 32rem;
    color: black;
    width: 10rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}

.div-carteira-dataValid {
    position: fixed;
    top: 24rem;
    left: 43rem;
    color: black;
    width: 10rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}

.div-carteira-perfil {
    position: fixed;
    top: 12rem;
    left: 20rem;
    color: black;
    width: 10.2rem;
    height: 12.5rem;
    border-radius: 0.5rem;
}
.div-carteira-perfil img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.div-carteira-qrcode {
    position: fixed;
    top: 12rem;
    left: 54rem;
    color: black;
    width: 15.25rem;
    height: 15.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
}


.status {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    bottom: 3rem;
    font-size: 3em;
    justify-content: center;
}



/*========== RESOLUÇÕES RESPONSIVIDADE ==========*/

/*telas menores*/
@media (max-width: 620px) {
	body {
	    margin: 0;
	    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	    font-size: 1rem;
	    font-weight: 400;
	    line-height: 1.5;
	    color: #212529;
	    text-align: left;
	}

	.logo{
		width: 100%;
		margin-top: 0;
		display: inline-flex;
	    justify-content: start;
	    align-items: start;
	    text-align: right;
	}

	.logo img{
	    max-width: 60px;
	}

	.conteudo{
		padding: 5px;
	    margin-left: 0;
	    margin-top: 0px;
	    width: 100%;
		font-size: 1rem;
	}

	.area-cadastrar{
		padding: 10px;
	    margin-top: 80px;
	    margin-left: 0px;
	}

	.area-logar{
	    padding: 10px;
	    margin-top: 80px;
	    margin-left: 0px;
	}


	.titulo{
	    font-size: 32px;
	    font-weight: bold;
	}
	.sub-titulo{
	    color: gray;
	}
	.texto-logo{
		width: 100%;
		text-align: center;
	    margin-top: 15px;
	    color: #fff;
	    font-weight: bold;
	    font-size: 22px;
	}

	.input-form{
	    margin-top: 0;
	    width: 100%;
	    padding: 5px;
	    outline: 0;
	}
	.input-form:focus{
	    border: 2px solid #0b3864 !important;
	    outline: 0 !important;
	    box-shadow: none !important;
	}

	.bold{
	    font-weight: bold;
	}

	.btn{
	    height: 30px;
	    text-decoration: none;
	    margin-top: 0;
	    border-width: 1px;
	    border-radius: 5px;
	    padding: 0px 15px 0px 15px;
	    font-size: 15px;
	}

	.row{
	    justify-content: space-around;
	    padding: 0;
	    margin: 0;
	}

	.form-row span{
	    width: 50%;
	    padding: 0px 5px 0px 5px;
	    justify-content: start;
	}

	.btn:hover {
	    transition: 0.5s ease-in-out;
	}

	.card-lateral{
		display: none;
	}

	.card-lateral img {
		width: 25px;
		height: 25px;
	}


	.sidebar{
	    width: 100%;
	    background-color: transparent;
	}

	nav img {
		padding-left: 0rem;
	}



	.voltar-btn, .pdf-btn {
		position: relative;
		display: block;
		width: 100%;
		right: 0rem;
		bottom: 0rem;
	}

	.area_cadastrar {
		position: relative;
	}

    







.div-carteira {
    margin-top: 10rem;
    text-align: left;
    position: fixed;
    top: 1rem;
    left: 1rem;
	transform: rotate(90deg);
	width: 30rem;
	height: 30rem;
}

.div-carteira .carteirinha-img {
	max-width: 100%;
	margin-left: 0rem;
	position: fixed;
    bottom: 3rem;
    left: 0rem;
	
}
.div-carteira h5 {
    font-weight: 600;
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 0;
    padding: 0 0.5rem;
}
.div-carteira p {
	font-size: 0.8rem;
    text-align: left;
    padding: 0 0.5rem;
}

.div-carteira-nome {
    position: fixed;
    top: 17rem;
    left: 7rem;
    color: black;
    width: 13rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
	
}

.div-carteira-cpf {
    position: fixed;
    top: 19.5rem;
    left: 7rem;
    color: black;
    width: 7rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
	
}

.div-carteira-matricula {
    position: fixed;
    top: 19.5rem;
    left: 14.1REM;
    color: black;
    width: 6rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
	
}

.div-carteira-associacao {
    position: fixed;
    top: 22rem;
    left: 7rem;
    color: black;
    width: 7rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
	
}

.div-carteira-dataNasc {
    position: fixed;
    top: 22rem;
    left: 14.1REM;
    color: black;
    width: 6rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
	
}

.div-carteira-dataExped {
    position: fixed;
    top: 24.5rem;
    left: 7rem;
    color: black;
    width: 7rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
	
}

.div-carteira-dataValid {
    position: fixed;
    top: 24.5REM;
    left: 14.1REM;
    color: black;
    width: 6rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
	
}

.div-carteira-perfil {
    position: fixed;
    top: 17rem;
    left: 1rem;
    color: black;
    width: 85px;
    height: 100px;
    border-radius: 0.5rem;
	background-color: transparent;
	
}
.div-carteira-perfil img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
	transform: rotate(0deg);
	margin-left: 0;
}

.div-carteira-qrcode {
    position: fixed;
    top: 17rem;
    left: 20.5rem;
    color: black;
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
	
}

.status {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    top: 8rem;
    font-size: 2rem;
    justify-content: center;
}
}
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>


{% endblock %}

{% block 'titulo' %}Atlética Hipertensiva{% endblock %}

{% block 'body' %}
    {% if not user.is_authenticated %}
    <nav style="width: 100%;" class="navbar navbar-expand-lg navbar-dark">
        <img src="{% static 'plataforma/img/logo.png' %}">
        <a style="font-weight: bold;" class="navbar-brand" href="#">ATLÉTICA HIPERTENSIVA</a>          
    </nav>
    {% endif %}

    <div id="conteudo" class="conteudo">
        {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}}">
            {{message}}
            </div>
            {% endfor %}
        {% endif %}
        <div id="carteira" class="div-carteira">
            <img class="carteirinha-img" src="{% static 'plataforma/img/carteira-atletica.png' %}" alt="">
            <div class="div-carteira-perfil">
                <img src="{{carteirinha.foto.url}}" alt="foto de perfil">
            </div>
            <div class="div-carteira-nome">
                <h5>NOME: </h5>
                <p>{{carteirinha.nome}}</p>
            </div>
            <div class="div-carteira-cpf">
                <h5>CPF: </h5>
                <p>{{carteirinha.cpf}}</p>
            </div>
            <div class="div-carteira-matricula">
                <h5>MATRÍCULA: </h5>
                <p>{{carteirinha.matricula}}</p>
            </div>
            <div class="div-carteira-associacao">
                <h5>ASSOCIAÇÃO: </h5>
                <p>{{carteirinha.associacao}}</p>
            </div>
            <div class="div-carteira-dataNasc">
                <h5>DT NASC.: </h5>
                <p>{{carteirinha.data_nasc|date:"d/m/Y"}}</p>
            </div>
            <div class="div-carteira-dataExped">
                <h5>EXPEDIÇÃO: </h5>
                <p>{{carteirinha.data_exped|date:"d/m/Y"}}</p>
            </div>
            <div class="div-carteira-dataValid">
                <h5>VALIDADE: </h5>
                <p>{{carteirinha.data_valid|date:"d/m/Y"}}</p>
            </div>
            <div class="div-carteira-qrcode">
                {% qr_from_text "https://hipertensiva.up.railway.app/buscar-qrcode/"|add:carteirinha.matricula size="m" image_format="png" error_correction="L" %}
            </div>
        </div>




    </div>
    <div class="voltar-btn">
        <a style="width: 80%; background-color: #0b3864;" href="{% url 'buscar_carteirinha' %}" class="btn btn-info navbar-brand">VOLTAR</a>
	</div>
    {% if hoje > carteirinha.data_valid %}
        <div class="status">
            <p class="dados">Status: </p><p style="color: rgb(169, 7, 7); font-weight: 600;"> Inadimplente</p>
        </div>
    {% else %}
        <div class="status">
            <p class="dados">Status: </p><p style="color: rgb(7, 141, 40); font-weight: 600"> Ativo</p>
        </div>
    {% endif %}

          
	<div class="pdf-btn">
        <button onclick="downloadPDF();" style="height: 2.5rem;width: 80%; background-color: rgb(7, 141, 40);" href="{% url 'plataforma' %}" class="btn btn-info navbar-brand">Gerar PDF</button>
	</div>


    <script>
        
        // function downloadPDF() {
        // html2canvas(document.getElementById('carteira')).then(function(canvas) {
        //     var imgData = canvas.toDataURL('image/png');
        //     var pdf = new jsPDF();
        //     pdf.addImage(imgData, 'PNG', 0, 0);
        //     pdf.save("page.pdf");
        // });
        // }

        function downloadPDF() {
        var originalBodyOverflow = document.getElementById('carteira').style.overflow;
        document.body.style.overflow = "scroll";

        html2canvas(document.getElementById('carteira'), {
            onrendered: function(canvas) {
            document.body.style.overflow = originalBodyOverflow;

            var imgData = canvas.toDataURL('image/png');
            var pdf = new jsPDF({orientation: 'landscape',format: 'letter'});
            pdf.addImage(imgData, 'PNG', 0, 0, 297, 140);
            pdf.save("page.pdf");
            }
        });
        }
        var pdf = new jsPDF('l', 'mm', 'a4');

    </script>
    {% endblock %}
    


    